<div id="website-contact" class="outlet-container">
  <div id="heading-container">
    <h1 class="header--white header--shadow">Get in touch</h1>
  </div>
  <div id="contact-form-container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-row">
        <div class="input-50">
          <label class="label--white">Name</label>
          <input type="text" name="name" ngModel required #name>
        </div>
        <div class="input-50">
          <label class="label--white">Email</label>
          <input type="text" name="email" ngModel required #email>
        </div>
      </div>
      <div class="form-row">
        <label class="label--white">Message</label>
        <textarea rows=5 name="message" ngModel required #message></textarea>
      </div>
      <div class="form-row">
        <button class="button button--orange">Submit</button>
      </div>
    </form>
  </div>
</div>
