// colors

$primary-black-800: #121212;
$primary-black-100: lighten($primary-black-800, 35%);
$primary-black-200: lighten($primary-black-800, 30%);
$primary-black-300: lighten($primary-black-800, 25%);
$primary-black-700: lighten($primary-black-800, 5%);
$primary-black-600: lighten($primary-black-800, 10%);
$primary-black-500: lighten($primary-black-800, 15%);
$primary-black-400: lighten($primary-black-800, 20%);

$primary-purple-400: #7a6fbe;
$primary-purple-100: lighten($primary-purple-400, 35%);
$primary-purple-200: lighten($primary-purple-400, 30%);
$primary-purple-300: lighten($primary-purple-400, 25%);
$primary-purple-500: darken($primary-purple-400, 5%);
$primary-purple-600: darken($primary-purple-400, 10%);
$primary-purple-700: darken($primary-purple-400, 15%);
$primary-purple-800: darken($primary-purple-400, 20%);

$primary-teal-400: #22BAA0;
$primary-teal-100: lighten($primary-teal-400, 35%);
$primary-teal-200: lighten($primary-teal-400, 30%);
$primary-teal-300: lighten($primary-teal-400, 25%);
$primary-teal-500: darken($primary-teal-400, 5%);
$primary-teal-600: darken($primary-teal-400, 10%);
$primary-teal-700: darken($primary-teal-400, 15%);
$primary-teal-800: darken($primary-teal-400, 20%);

$primary-blue-400: #12AFCB;
$primary-blue-100: lighten($primary-blue-400, 35%);
$primary-blue-200: lighten($primary-blue-400, 30%);
$primary-blue-300: lighten($primary-blue-400, 25%);
$primary-blue-500: darken($primary-blue-400, 5%);
$primary-blue-600: darken($primary-blue-400, 10%);
$primary-blue-700: darken($primary-blue-400, 15%);
$primary-blue-800: darken($primary-blue-400, 20%);

$primary-yellow-400: #F2CA4C;
$primary-yellow-100: lighten($primary-yellow-400, 35%);
$primary-yellow-200: lighten($primary-yellow-400, 30%);
$primary-yellow-300: lighten($primary-yellow-400, 25%);
$primary-yellow-500: darken($primary-yellow-400, 5%);
$primary-yellow-600: darken($primary-yellow-400, 10%);
$primary-yellow-700: darken($primary-yellow-400, 15%);
$primary-yellow-800: darken($primary-yellow-400, 20%);

$primary-red-400: #F25656;
$primary-red-100: lighten($primary-red-400, 35%);
$primary-red-200: lighten($primary-red-400, 30%);
$primary-red-300: lighten($primary-red-400, 25%);
$primary-red-500: darken($primary-red-400, 5%);
$primary-red-600: darken($primary-red-400, 10%);
$primary-red-700: darken($primary-red-400, 15%);
$primary-red-800: darken($primary-red-400, 20%);

$primary-green-800: #3c763d;
$primary-green-700: lighten($primary-green-800, 15%);
$primary-green-600: lighten($primary-green-800, 10%);
$primary-green-500: lighten($primary-green-800, 5%);
$primary-green-400: lighten($primary-green-800, 20%);
$primary-green-300: lighten($primary-green-800, 25%);
$primary-green-200: lighten($primary-green-800, 30%);
$primary-green-100: lighten($primary-green-800, 35%);

$facebook-primary: #3B5998;
$facebook-light: lighten($facebook-primary, 10%);

$twitter-primary: #00ABF0;
$twitter-light: lighten($twitter-primary, 10%);

$google-plus-primary: #D95232;
$google-plus-light: lighten($google-plus-primary, 10%);

$youtube-primary: #CC181E;
$youtube-light: lighten($youtube-primary, 10%);

$vimeo-primary: #4BF;
$vimeo-light: lighten($vimeo-primary, 10%);

$dribbble-primary: #D97AA5;
$dribbble-light: lighten($dribbble-primary, 10%);

$github-primary: #666;
$github-light: lighten($github-primary, 10%);

$instagram-primary: #3F729B;
$instagram-light: lighten($instagram-primary, 10%);

$pinterest-primary: #AE181F;
$pinterest-light: lighten($pinterest-primary, 10%);

$vk-primary: #5D83AA;
$vk-light: lighten($vk-primary, 10%);

$rss-primary: #EE802F;
$rss-light: lighten($rss-primary, 10%);

$flickr-primary: #007BB6;
$flickr-light: lighten($flickr-primary, 10%);
