button {
  background: $primary-black-800;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  margin: 0 5px;
  transition: 0.3s ease all;
}

.button-sm {
  padding: 3px 6px;
}

.button-md {
  padding: 6px 12px;
}

.button-lg {
  padding: 9px 18px;
}

.button-xl {
  padding: 12px 24px;
}

.button--red {
  background: $primary-red-400;
  color: black;

  &:hover {
    background: $primary-red-500;
  }
}

.button--blue {
  background: $primary-blue-400;
  color: black;

  &:hover {
    background: $primary-blue-500;
  }
}

.button--teal {
  background: $primary-teal-400;
  color: black;

  &:hover {
    background: $primary-teal-500;
  }
}

.button--green {
  background: $primary-green-700;
  color: black;

  &:hover {
    background: $primary-green-800;
  }
}

.button--yellow {
  background: $primary-yellow-400;
  color: black;

  &:hover {
    background: $primary-yellow-500;
  }
}

.button--purple {
  background: $primary-purple-400;
  color: black;

  &:hover {
    background: $primary-purple-500;
  }
}

.button--rounded {
  border-radius: 15px;
}

.button-social {
  height: 30px;
  margin: 0 5px;
  transition: 0.3s ease all;
  width: 30px;
}

.button--facebook {
  background: $facebook-light;

  &:hover {
    background: $facebook-primary;
  }
}

.button--google-plus {
  background: $google-plus-light;

  &:hover {
    background: $google-plus-primary;
  }
}

.button--twitter {
  background: $twitter-light;

  &:hover {
    background: $twitter-primary;
  }
}

.button--youtube {
  background: $youtube-light;

  &:hover {
    background: $youtube-primary;
  }
}

.button--vimeo {
  background: $vimeo-light;

  &:hover {
    background: $vimeo-primary;
  }
}

.button--dribbble {
  background: $dribbble-light;

  &:hover {
    background: $dribbble-primary;
  }
}

.button--github {
  background: $github-light;

  &:hover {
    background: $github-primary;
  }
}

.button--instagram {
  background: $instagram-light;

  &:hover {
    background: $instagram-primary;
  }
}

.button--pinterest {
  background: $pinterest-light;

  &:hover {
    background: $pinterest-primary;
  }
}

.button--rss {
  background: $rss-light;

  &:hover {
    background: $rss-primary;
  }
}

.button--vk {
  background: $vk-light;

  &:hover {
    background: $vk-primary;
  }
}

.button--flickr {
  background: $flickr-light;

  &:hover {
    background: $flickr-primary;
  }
}
