<div class="modal-background" (click)="onBackgroundClick($event)">
  <div id="teams-search" class="modal">
    <div class="modal-head">
      <p>Team Search</p>
      <i class="fa fa-times" (click)="onClose()"></i>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4">
          <p>Filter: </p>
        </div>
        <div class="col-sm-8">
          <div class="form-row">
            <input type="text" #filterTerm name="filterTerm" ngModel="filterTerm">
          </div>
        </div>
      </div>
      <hr *ngIf="searchResult === null || searchResult">
      <div class="row" *ngIf="searchResult === null">
        <div class="col-sm-12">
          <p>No teams found.</p>
        </div>
      </div>
      <div id="search-results">
        <div class="row" ngFor="let team of teams">
        </div>
        <div class="">
          <a class="button button-sm button--yellow select-button" (click)="onUserSelect(searchResult)">Select</a>
        </div>
      </div>
    </div>
  </div>
</div>
