<div id="team-create">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-users fa-fw"></i>
      <strong>New Team</strong>
    </div>
    <form #f="ngForm" (ngSubmit)="createFixture()" class="form-horizontal">
      <div class="card-body">
        <div class="form-group row {{formValues.teamName.hasError ? 'error' : ''}}">
          <label class="col-md-2 col-form-label text-right">Team name :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Manchester United" [(ngModel)]="team.name" name="name" required>
            <span *ngIf="formValues.teamName.hasError" class="help-inline">{{formValues.teamName.message}}</span>
          </div>
        </div>
        <div class="form-group row {{formValues.users.hasError ? 'error' : ''}}">
          <label class="col-md-2 col-form-label text-right">Players :</label>
          <div class="col-md-10 team-players">
            <p *ngIf="team.users.length === 0">No teams currently selected, you can search for teams using the search box below.</p>
            <p class="player-name" *ngFor="let user of team.users">{{user.firstName}} {{user.lastName}}</p>
            <span *ngIf="formValues.users.hasError" class="help-inline">{{formValues.users.message}}</span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-danger" (click)="resetFixture()"><i class="fa fa-ban"></i> Reset</button>
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
      </div>
    </form>
  </div>
  <app-panel-search-players (onPlayerSelect)="addPlayer($event)"></app-panel-search-players>
</div>
