<div class="card">
  <div class="card-header">
    <i class="fa fa-user"></i>
    <strong>Account</strong>
  </div>
  <form #f="ngForm" class="form-horizontal" (ngSubmit)="onUserUpdate(f.value)" *ngIf="user">
    <div class="card-body">
      <div class="form-group row">
        <label class="col-md-3 col-form-label">First Name :</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="First name" name="firstName" [(ngModel)]="user.firstName">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Last Name :</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Last name" name="lastName" [(ngModel)]="user.lastName">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Email :</label>
        <div class="col-md-9">
          <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="user.email">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Position :</label>
        <div class="col-md-9">
          <button type="button" class="btn {{user.position.striker ? 'btn-success' : ''}}" (click)="toggleStriker()">Striker</button>
          <button type="button" class="btn {{user.position.defender ? 'btn-success' : ''}}" (click)="toggleDefender()">Defender</button>
        </div>
      </div>
      <div *ngIf="passwordChange">
        <div class="form-group row">
          <label class="col-md-3 col-form-label">New password :</label>
          <div class="col-md-9">
            <input type="password" class="span11" placeholder="Enter new password"  />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label">Confirm password :</label>
          <div class="col-md-9">
            <input type="password" class="span11" placeholder="Confirm new password"  />
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
    </div>
  </form>
</div>
