<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a>
        <i class="fa fa-home fa-fw"></i>
        <span>Home</span>
      </a>
    </li>
    <li routerLink="/dashboard/teams" routerLinkActive="active">
      <a>
        <i class="fa fa-users fa-fw"></i>
        <span>Teams</span>
      </a>
    </li>
    <li routerLink="/dashboard/leagues" routerLinkActive="active">
      <a>
        <i class="fa fa-table fa-fw"></i>
        <span>Leagues</span>
      </a>
    </li>
    <li routerLink="/dashboard/fixtures" routerLinkActive="active">
      <a>
        <i class="fa fa-futbol fa-fw"></i>
        <span>Fixtures</span>
      </a>
    </li>
    <li routerLink="/dashboard/account" routerLinkActive="active">
      <a>
        <i class="fa fa-cog fa-fw"></i>
        <span>Account</span>
      </a>
    </li>
    <li routerLink="/login">
      <a>
        <i class="fa fa-sign-out-alt fa-fw"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
<!--sidebar-menu-->
