.row {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.col {
  margin: 0 10px 10px 10px;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    @extend .col;
    @media(min-width: $screen-sm) {
      margin-bottom: 0;
      width: calc(((100% - 10px) / 12) * #{$i} - 20px);
    }
  }
}

@for $i from 1 through 12 {
  .col-md-#{$i} {
    @extend .col;

    @media(min-width: $screen-md) {
      margin-bottom: 0;
      width: calc(((100% - 10px) / 12) * #{$i} - 20px);
    }
  }
}

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    @extend .col;

    @media(min-width: $screen-md) {
      margin-bottom: 0;
      width: calc(((100% - 10px) / 12) * #{$i} - 20px);
    }
  }
}
