.col {
  align-items: center;
  color: white;
  display: flex;
  margin-right: 10px;
  width: 100%;

  &:first-of-type {
    margin-left: 10px;
  }

  &:last-of-type {
    margin-right: 10px;
  }
}

@for $i from 1 through 12 {
  .col-sm-#{$i} {
    @extend .col;

    @media(min-width: $screen-sm) {
      margin-right: 10px;
      width: calc(((100% - 10px) / 12) * #{$i} - 10px);
    }
  }
}

@for $i from 1 through 12 {
  .col-md-#{$i} {
    @extend .col;

    @media(min-width: $screen-md) {
      margin-right: 10px;
      width: calc(((100% - 10px) / 12) * #{$i} - 10px);
    }
  }
}

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    @extend .col;

    @media(min-width: $screen-md) {
      margin-right: 10px;
      width: calc(((100% - 10px) / 12) * #{$i} - 10px);
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
