.navbar-container {
  background: $primary-black-700;
  color: #DDD;
  text-align: center;

  #logo-container {
    align-items: center;
    cursor: pointer;
    color: #AAA;
    display: flex;
    justify-content: space-between;
    text-align: center;

    i {
      cursor: pointer;
      font-size: 18px;
      padding: 15px;
      @media(min-width: $screen-md) {
        display: none;
      }
    }

    h2 {
      font-size: 1.2em;
      padding: 15px;
      text-transform: uppercase;
      @media(min-width: $screen-md) {
        font-size: 0.8em;
        text-align: center;
        transition: 0.3s ease all;

        &:hover {
          color: #EEE;
        }
      }
    }
  }

  .primary-menu {
    overflow: hidden;
    transition: 0.5s ease all;

    @media(min-width: $screen-md) {
      transition: 0s ease all;
    }
  }

  ul, ol {
    list-style: none;
  }

  .navbar-item {
    flex-direction: column;
    display: flex;
    max-height: 45px;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s ease all;

    @media(min-width: $screen-md) {
      max-height: none;
    }
  }

  .navbar-item-content {
    color: #AAA;
    cursor: pointer;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    transition: 0.3s ease all;
    z-index: 5;

    .fa-caret-down {
      position: absolute;
      right: 10px;
    }

    i {
      font-size: 20px;
      margin-left: 15px;
      margin-right: 15px;

      @media(min-width: $screen-md) {
        font-size: 32px;
      }
    }

    span {
      font-size: 0.8em;
    }

    &:hover,
    &.route-active {
      background: $primary-black-800;
      color: #EEE;
    }

    @media(min-width: $screen-md) {
      flex-direction: column;
      justify-content: center;
    }
  }

  @media(min-width: $screen-md) {
    min-height: 100vh;
  }
}
