app-users-search {
  width: 100%;
}

#leagues-search {
  width: 320px;
  max-width: 800px;

  @media(min-width: $screen-md) {
    width: 440px;
  }

  .actions-container {
    display: flex;
    justify-content: center;

    button {
      margin: 0 auto;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    thead {
      td {
        background: $primary-black-600;
        font-weight: bold;
      }

      .td-league-teams {
        text-align: center;
      }
    }

    td {
      padding: 8px;
    }

    tr, thead {
      border-left: 2px solid $primary-black-600;
      border-right: 2px solid $primary-black-600;
    }

    tr:nth-of-type(odd) {
      background: $primary-black-400;
    }

    tr:nth-of-type(even) {
      background: $primary-black-500;
    }

    tr:last-of-type {
      border-bottom: 2px solid $primary-black-600;
    }

    .td-league-name {
      min-width: 60%
    }

    .td-league-teams,
    .td-action {
      min-width: 20%
    }

    .td-league-teams {
      text-align: center;
    }

    .td-action {
      display: flex;
      justify-content: center;

      button {
        margin: 0;
      }
    }
  }
}
