#website-view-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 100%;
  #website-navbar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
  }

  #website-outlet-wrapper {
    padding-top: 70px;
    width: 100%;
  }

  .notification-bar-wrapper {

  }
}
