#website-view-wrapper {
  display: flex;
  #website-navbar-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
  }

  #website-outlet-wrapper {
    padding-top: 70px;
  }

  .notification-bar-wrapper {
    
  }
}
