<div id="website-login-form">
  <div id="loginbox">
    <form id="loginform" class="form-vertical" #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <div class="control-group normal_text"> <h3>Login</h3></div>
      <div class="control-group {{formValues.email.hasError ? 'error' : ''}}">
        <div class="controls">
          <div class="main_input_box">
            <span class="add-on bg_lg">
              <i class="fa fa-envelope"></i>
            </span>
            <input type="email" name="email" (keyup)="clearFormError('email')" ngModel placeholder="Email address">
            <span *ngIf="formValues.email.hasError" class="help-inline">{{formValues.email.message}}</span>
          </div>
        </div>
      </div>
      <div class="control-group {{formValues.password.hasError ? 'error' : ''}}">
        <div class="controls">
          <div class="main_input_box">
            <span class="add-on bg_ly">
              <i class="fa fa-lock"></i>
            </span>
            <input type="password" name="password" (keyup)="clearFormError('password')" ngModel placeholder="Password">
            <span *ngIf="formValues.password.hasError" class="help-inline">{{formValues.password.message}}</span>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">Lost password?</a></span>
        <span class="pull-right"><button type="submit" class="btn btn-success">Login</button></span>
      </div>
    </form>
  </div>
</div>
