app-panel-add-league {
  width: 100%;
}

#panel-add-league {
  .panel-head {
    text-align: center;
  }

  .actions-container {
    button {
      margin: 0px 0px 5px 5px;
    }

    button:nth(last-of-type) {
      margin-bottom: 0;
    }
  }
}
