app-panel-account-manage {
  width: 100%;
}

#panel-account-manage {
  .panel-head {
    text-align: center;
  }

  .account-edit-form {
    label {
      color: #DDD;
      font-size: 0.8em;
      margin: 0 0 5px 5px;
      text-transform: uppercase;
    }
  }
}
