<div id="panel-create-team" class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="fa fa-users"></i>
    </span>
    <h5>New team</h5>
  </div>
  <div class="widget-content nopadding" *ngIf="team">
    <form #f="ngForm" class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Team name :</label>
        <div class="controls">
          <input type="text" class="span11" placeholder="Manchester United" [(ngModel)]="team.name" name="name" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Players :</label>
        <div class="controls">
          <p *ngIf="team.users.length === 0">No teams currently selected, you can search for teams using the search box below.</p>
          <p class="player-name" *ngFor="let user of team.users">{{user.firstName}} {{user.lastName}}</p>
        </div>
      </div>
      <div class="form-actions">
        <a class="btn btn-info" (click)="resetTeam()">Reset</a>
        <button class="btn btn-success">Save</button>
      </div>
    </form>
  </div>
  <app-panel-search-players (onPlayerSelect)="addPlayer($event)"></app-panel-search-players>
</div>
