<div id="panel-create-team" class="panel">
  <div class="panel-head">
    <p>Create a team</p>
  </div>
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-row">
        <i class="fa fa-users"></i>
        <input type="text" placeholder="Team name" name="teamName" #teamName required ngModel>
      </div>
      <div class="alert--error" *ngIf="formValues.teamName.hasError">
        <p>{{formValues.teamName.message}}</p>
      </div>
      <div class="form-row">
        <div class="players-container">
          <p>Players</p>
          <div *ngFor="let player of formValues.players; let playerIndex = index" class="player">
            <i class="fa fa-user"></i>
            <p>{{player.firstName}} {{player.lastName}} {{getPlayerPosition(playerIndex)}}</p>
            <i *ngIf="playerIndex > 0" class="fa fa-times"></i>
          </div>
          <hr>
          <div class="add-player" (click)="usersSearchOpen()">
            <i class="fa fa-plus"></i>
            <p>Add a player</p>
          </div>
          <app-users-search *ngIf="searchUsers" (close)="onClose()" (userSelect)="onUserSelect($event)"></app-users-search>
        </div>
      </div>
      <div class="form-row">
        <div class="leagues-container">
          <p>Leagues</p>
          <div class="league">
            <i class="fa fa-list-alt"></i>
            <p>The premier league</p>
            <i class="fa fa-times"></i>
          </div>
          <hr>
          <div class="add-league">
            <i class="fa fa-plus"></i>
            <p>Join a league</p>
          </div>
          <app-leagues-search *ngIf="searchUsers" (close)="onClose()" (userSelect)="onLeagueSelect($event)"></app-leagues-search>
        </div>
      </div>
      <div class="form-row">
        <button class="button button-md button--blue">Create</button>
      </div>
    </form>
  </div>
</div>
