<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="fa fa-search"></i>
    </span>
    <h5>Search teams</h5>
  </div>
  <div class="widget-content nopadding">
    <form #f="ngForm" class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Team name :</label>
        <div class="controls">
          <input type="text" class="span11" placeholder="Enter a team name to search" name="searchTerm">
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn-success">Search</button>
      </div>
    </form>
  </div>
</div>
