<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="fa fa-search"></i>
    </span>
    <h5>Search teams</h5>
  </div>
  <div class="widget-content nopadding">
    <form #f="ngForm" class="form-horizontal">
      <div class="control-group">
        <label class="control-label">Team name :</label>
        <div class="controls">
          <input type="text" class="span11" placeholder="Enter a team name to search" name="searchTerm">
        </div>
      </div>
      <span *ngFor="let team of searchResults" class="search-results-row">
        <button class="btn btn-mini btn-success">Add to fixture</button> {{team.name}}
      </span>
      <div class="form-actions">
        <a class="btn btn-primary" (click)="getMyTeams()">My teams</a>
        <a class="btn btn-success">Search</a>
      </div>
    </form>
  </div>
</div>
