<div id="dashboard-team-view" class="outlet-container">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">

        <table *ngIf="team">
          <tr>
            <td>Team name</td>
            <td>Players</td>
            <td>Next fixture</td>
          </tr>
          <tr>
            <td *ngFor="let user of team.users">{{user.username}}</td>
          </tr>
          <tr>
            <td>Positions</td>
            <td class="player" *ngFor="let user of team.users">
              <div *ngIf="user.position.striker" class="position-selector striker {{user.position.striker ? 'selected' : ''}}">
                <p>Striker</p>
              </div>
              <div *ngIf="user.position.defender"class="position-selector defender {{user.position.defender ? 'selected' : ''}}">
                <p>Defender</p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
