<div id="fixture-create">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-users fa-fw"></i>
      <strong>Search teams</strong>
    </div>
    <form #f="ngForm" (ngSubmit)="searchTeams(f.value)" class="form-horizontal">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label text-right">Team name :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Enter a team name to search" name="searchTerm" ngModel>
          </div>
        </div>
        <div class="form-group row search-result" *ngFor="let team of searchResults">
          <div class="col-md-2 text-right">
            <button type="button" *ngIf="onTeamSelect" class="btn btn-sm btn-success" (click)="onClick(team)"><i class="fa fa-plus"></i> {{selectLabel || 'Add'}}</button>
          </div>
          <div class="col-md-10">
            {{team.name}}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="getMyTeams()"><i class="fa fa-users"></i> My teams</button>
        <button type="submit" class="btn btn-success" (click)="searchTeams(f.value)"><i class="fa fa-search"></i> Search</button>
      </div>
    </form>
  </div>
</div>
