<div id="website-login" class="outlet-container">
  <div class="heading-container">
    <h1>login</h1>
  </div>
  <div id="login-form-container">
    <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
      <div class="form-row">
        <i class="fa fa-envelope-o"></i><input type="text" placeholder="Email" name="email" #email required ngModel>
      </div>
      <div class="input-error" *ngIf="formValues.email.hasError">
        <p>{{formValues.email.message}}
      </div>
      <div class="form-row">
        <i class="fa fa-lock"></i><input type="password" placeholder="Password" name="password" #password required ngModel>
      </div>
      <div class="input-error" *ngIf="formValues.password.hasError">
        <p>{{formValues.password.message}}
      </div>
      <div class="form-row">
        <button class="button button-xl button--yellow">Login</button>
      </div>
    </form>
    <div class="form-row useful-links-container">
      <a>Forgot your password?</a>
      <a>Create an account</a>
    </div>
  </div>
</div>
