<div id="dashboard-navbar">
  <div class="navbar-container">
    <div id="logo-container">
      <i class="fa fa-bars" (click)="toggleMenuVisible()"></i>
      <h2 routerLink="/">My Foosball</h2>
      <i class="fa fa-search"></i>
    </div>
    <ul *ngIf="menuItems" class="primary-menu" (window:resize)="menuResizeToggle()" [ngStyle]="primaryMenuStyle()">
      <li class="navbar-item" *ngFor="let menuItem of menuItems; let i = index" [ngStyle]="submenuActiveStyle(i)">
        <div class="navbar-item-content" routerLink="{{menuItem.link}}" (click)="toggleSubmenuActive(i); menuItem.clickAction ? menuItem.clickAction() : null">
          <i class="{{menuItem.iconClass}}"></i>
          <span>{{menuItem.name}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
