<div id="website-brand-guidelines" class="outlet-container">
  <div class="row">
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          col-sm-3
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          col-sm-3
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          col-sm-3
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          col-sm-3
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          col-sm-4
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          col-sm-4
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          col-sm-4
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="panel">
        <div class="panel-body">
          col-sm-5
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel">
        <div class="panel-body">
          col-sm-5
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          col-sm-6
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          col-sm-6
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="panel">
        <div class="panel-body">
          col-sm-7
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="panel">
        <div class="panel-body">
          col-sm-5
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="panel">
        <div class="panel-body">
          col-sm-8
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          col-sm-4
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel">
        <div class="panel-body">
          col-sm-9
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel">
        <div class="panel-body">
          col-sm-3
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <div class="panel">
        <div class="panel-body">
          col-sm-10
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="panel">
        <div class="panel-body">
          col-sm-2
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-11">
      <div class="panel">
        <div class="panel-body">
          col-sm-11
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="panel">
        <div class="panel-body">
          col-sm-1
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          col-sm-12
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <button class="button-sm">button-sm</button>
          <button class="button-md">button-md</button>
          <button class="button-lg">button-lg</button>
          <button class="button-xl">button-xl</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <button class="button-md button--purple">button--purple</button>
          <button class="button-md button--teal">button--teal</button>
          <button class="button-md button--blue">button--blue</button>
          <button class="button-md button--yellow">button--yellow</button>
          <button class="button-md button--red">button--red</button>
          <button class="button-md button--green">button--green</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <button class="button-lg button--purple button--rounded">button--rounded</button>
          <button class="button-lg button--teal button--rounded">button--rounded</button>
          <button class="button-lg button--blue button--rounded">button--rounded</button>
          <button class="button-lg button--yellow button--rounded">button--rounded</button>
          <button class="button-lg button--red button--rounded">button--rounded</button>
          <button class="button-lg button--green button--rounded">button--rounded</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <button class="button-social button--facebook"><i class="fa fa-facebook"></i></button>
          <button class="button-social button--google-plus"><i class="fa fa-google-plus"></i></button>
          <button class="button-social button--twitter"><i class="fa fa-twitter"></i></button>
          <button class="button-social button--youtube"><i class="fa fa-youtube"></i></button>
          <button class="button-social button--vimeo"><i class="fa fa-vimeo"></i></button>
          <button class="button-social button--dribbble"><i class="fa fa-dribbble"></i></button>
          <button class="button-social button--github"><i class="fa fa-github"></i></button>
          <button class="button-social button--instagram"><i class="fa fa-instagram"></i></button>
          <button class="button-social button--pinterest"><i class="fa fa-pinterest"></i></button>
          <button class="button-social button--rss"><i class="fa fa-rss"></i></button>
          <button class="button-social button--vk"><i class="fa fa-vk"></i></button>
          <button class="button-social button--flickr"><i class="fa fa-flickr"></i></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <p>.panel</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <p>.panel</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="alert-success">
        .alert-success
      </div>
    </div>
    <div class="col-sm-6">
      <div class="alert-info">
        .alert-info
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="alert-warning">
        .alert-warning
      </div>
    </div>
    <div class="col-sm-6">
      <div class="alert-error">
        .alert-error
      </div>
    </div>
  </div>
</div>
