<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-panel-current-leagues></app-panel-current-leagues>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-futbol fa-fw"></i>
          <strong>Actions</strong>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-success" (click)="setLeagueAction('find')"><i class="fa fa-search"></i> Find a league</button>
          <button type="button" class="btn btn-success" (click)="setLeagueAction('create')"><i class="fa fa-pencil-alt"></i> Create a league</button>
        </div>
      </div>
      <div *ngIf="leagueAction === 'create'">
        <app-panel-create-league></app-panel-create-league>
      </div>
      <div *ngIf="leagueAction === 'find'">
        <app-panel-search-leagues></app-panel-search-leagues>
      </div>
    </div>
  </div>
</div>
