<div id="website-home" class="outlet-container">
  <div class="heading-container">
    <h1 class="header--white header--shadow">My Foosball</h1>
    <p>For those who take table football seriously!</p>
  </div>
  <div class="row features-container">
    <div class="col-md-4 feature feature--green">
      <h2>Leagues</h2>
      <hr>
      <p>Create, manage and participate in leagues, do you have what it takes to top your league?</p>
    </div>
    <div class="col-md-4 feature feature--purple">
      <h2>Teams</h2>
      <hr>
      <p>Be a part of as many teams as you like, track your teams stats and if needed, make theat all important substitution!</p>
    </div>
    <div class="col-md-4 feature feature--blue">
      <h2>Fixtures</h2>
      <hr>
      <p>Arrange friendly or league fixtures, submit your scores and see fair against the competition</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 actions-container">
      <button class="button-xl button--blue" routerLink="/register">Register</button>
      <button class="button-xl button--purple" routerLink="/login">Login</button>
    </div>
  </div>
</div>
