app-panel-create-league {
  width: 100%;
}

#panel-create-league {

  .form-row {
    i.fa-users,
    i.fa-user {
      color: $primary-blue-400;
      position: absolute;
      left: 8px;
      width: 25px;
      text-align: center;
    }

    input,
    .team {
      background: none;
      border: 1px solid $primary-black-400;
      color: white;
      font-size: 1em;
      padding: 10px 10px 10px 35px;
      transition: 0.3s ease all;
      width: 100%;

      &:focus,
      &:hover {
        border: 1px solid $primary-blue-800;
      }

      &::placeholder {
        color: #AAA;
      }
    }
  }

  .teams-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    > p {
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    hr {
      margin: 5px 0;
    }

    .team {
      align-items: center;
      display: flex;
      padding: 5px;
      margin-bottom: 5px;
      width: 100%;

      &:last-of-type {
        margin-bottom: 0;
      }

      i.fa-users {
        margin-right: 10px;
      }

      i.fa-times {
        min-height: 100%;
        margin-left: auto;
        padding: 0 5px;
        transition: 0.5s ease all;
        cursor: pointer;

        &:hover {
          color: $primary-red-800;
        }
      }

      p {
        margin-left: 30px;
        padding: 5px 0;
      }
    }

    .add-team {
      display: flex;
      margin-bottom: 5px;
      padding: 5px 5px 5px 15px;

      i.fa-plus {
        margin-right: 10px;
      }
    }

    .add-team {
      cursor: pointer;

      &:hover {
        i, p {
          transition: 0.5s ease all;
          color: $primary-green-400;
        }
      }
    }
  }
}
