<div id="panel-create-league" class="panel">
  <div class="panel-head">
    <p>Create a league</p>
  </div>
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-row">
        <i class="fa fa-users"></i>
        <input type="text" placeholder="League name" name="leagueName" #leagueName required ngModel>
      </div>
      <div class="alert--error" *ngIf="formValues.leagueName.hasError">
        <p>{{formValues.leagueName.message}}</p>
      </div>
      <div class="form-row">
        <div class="teams-container">
          <p>Teams</p>
          <div *ngFor="let teams of formValues.teams; let teamIndex = index" class="team">
            <i class="fa fa-users"></i>
            <p>{{team.name}}</p>
            <i class="fa fa-times" (click)="removeTeam(teamIndex)"></i>
          </div>
          <hr>
          <div class="add-team" (click)="teamsSearchOpen()">
            <i class="fa fa-plus"></i>
            <p>Add teams</p>
          </div>
          <app-teams-search *ngIf="searchTeams" (close)="teamsSearchClose()" (teamsSelect)="onTeamsSelect($event)"></app-teams-search>
        </div>
      </div>
      <div class="form-row">
        <button class="button button-md button--blue">Create</button>
      </div>
    </form>
  </div>
</div>
