<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-teams-current></app-teams-current>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-futbol fa-fw"></i>
          <strong>Actions</strong>
        </div>
        <div class="card-body">
          <div class="widget-content">
            <button type="button" class="btn btn-success" (click)="setTeamAction('find')"><i class="fa fa-search"></i> Find a team</button>
            <button type="button" class="btn btn-success" (click)="setTeamAction('create')"><i class="fa fa-pencil-alt"></i> Create a team</button>
          </div>
        </div>
      </div>
      <div *ngIf="teamAction === 'create'">
        <app-team-create></app-team-create>
      </div>
      <div *ngIf="teamAction === 'find'">
        <app-teams-search [selectLabel]="'View'"></app-teams-search>
      </div>
    </div>
  </div>
</div>
