#website-home {
  .heading-container {
    align-items: center;
    color: #DDD;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  .features-container {
    max-width: 90%;
    margin: 120px auto 50px auto;
  }

  .feature {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0 25px;
    text-align: center;

    p {
      max-width: 95%;
    }

    @media(min-width: $screen-md) {
      margin-bottom: 0px;
      max-width: 80%;
    }
  }

  .feature--green {
    h2 {
      color: $primary-green-400;
    }

    hr {
      border-top: 3px solid $primary-green-400;
      border-bottom: 3px solid $primary-green-800;
      margin: 10px 0 25px 0;
      width: 100%;
    }
  }

  .feature--purple {
    h2 {
      color: $primary-purple-400;
    }

    hr {
      border-top: 3px solid $primary-purple-400;
      border-bottom: 3px solid $primary-purple-800;
      margin: 10px 0 25px 0;
      width: 100%;
    }
  }

  .feature--blue {
    h2 {
      color: $primary-blue-400;
    }

    hr {
      border-top: 3px solid $primary-blue-400;
      border-bottom: 3px solid $primary-blue-800;
      margin: 10px 0 25px 0;
      width: 100%;
    }
  }

  .actions-container {
    display: flex;
    justify-content: center;
  }
}
