<div id="fixture-create">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-user fa-fw"></i>
      <strong>Search players</strong>
    </div>
    <form #f="ngForm" (ngSubmit)="searchTeams(f.value)" class="form-horizontal">
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label text-right">Player :</label>
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Enter a player name or email address to search" name="searchTerm" ngModel>
          </div>
        </div>
        <div class="form-group row search-result" *ngFor="let player of searchResults">
          <div class="col-md-2 text-right">
            <button type="button" *ngIf="onPlayerSelect" class="btn btn-sm btn-success" (click)="onClick(player)"><i class="fa fa-plus"></i> {{selectLabel || 'Add'}}</button>
          </div>
          <div class="col-md-10">
            {{player.firstName}} {{player.lastName}}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-success" (click)="searchPlayers(f.value)"><i class="fa fa-search"></i> Search</button>
      </div>
    </form>
  </div>
</div>
