<div class="widget-box">
  <div class="widget-title"> <span class="icon"> <i class="fa fa-cog"></i> </span>
    <h5>Inbox</h5>
  </div>
  <div class="widget-content">
    <table class="table table-bordered table-striped with-check">
      <thead>
        <tr>
          <th><div class="checker" id="uniform-title-table-checkbox"><span class=""></span></div></th>
          <th style="width: 250px;">Sender</th>
          <th>Subject</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="checker" id="uniform-undefined"><span class=""><input type="checkbox" ></span></div></td>
          <td>Row 1</td>
          <td>Row 2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
