<div id="website-home-features">
  <div class="col-md-4 feature feature--green">
    <h2>Leagues</h2>
    <hr>
    <p>Create, manage and participate in leagues, do you have what it takes to top your league?</p>
  </div>
  <div class="col-md-4 feature feature--purple">
    <h2>Teams</h2>
    <hr>
    <p>Be a part of as many teams as you like, track your teams stats and if needed, make theat all important substitution!</p>
  </div>
  <div class="col-md-4 feature feature--blue">
    <h2>Fixtures</h2>
    <hr>
    <p>Arrange friendly or league fixtures, submit your scores and see fair against the competition</p>
  </div>
</div>
