#dashboard-account {
  min-height: 100vh;

  .account-edit-form {
    padding: 10px;

    label {
      color: #DDD;
      font-size: 0.8em;
      margin: 0 0 5px 5px;
      text-transform: uppercase;
    }


    a {
      color: $primary-purple-400;
      font-style: italic;
      font-size: 0.8em;
      margin: 0 5px;
      cursor: pointer;
    }
  }
}
