<div id="dashboard-account" class="outlet-container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel">
        <div class="section account-edit-form">
          <div class="section-head">
            <p>Account details</p>
          </div>
          <div class="section-body">
            <form #f="ngForm" (ngSubmit)="onUserUpdate(f.value)">
              <div class="form-row vertical-row">
                <label>First name</label>
                <input type="text" name="firstName" #firstName name="firstName" ngModel="{{user.firstName}}">
              </div>
              <div class="form-row vertical-row">
                <label>Last name</label>
                <input type="text" name="lastName" #lastName name="lastName" ngModel="{{user.lastName}}">
              </div>
              <div class="form-row vertical-row">
                <label>Username</label>
                <input type="text" name="username" #username name="username" ngModel="{{user.username}}">
              </div>
              <div class="form-row vertical-row">
                <label>Email</label>
                <input type="text" name="email" #email name="email" ngModel="{{user.email}}">
              </div>
              <div class="form-row" *ngIf="!passwordChange">
                <a (click)="enablePasswordChange()">reset password</a>
              </div>
              <div [hidden]="!passwordChange">
                <div class="form-row vertical-row">
                  <label>New password</label>
                  <input type="password" name="newPassword" #newPassword name="newPassword" ngModel="{{user.newPassword}}">
                </div>
                <div class="form-row vertical-row">
                  <label>Confirm password</label>
                  <input type="password" name="confirmNewPassword" #confirmNewPassword name="confirmNewPassword" ngModel="{{user.confirmNewPassword}}">
                </div>
              </div>
              <div class="form-row actions-row">
                <button class="button-md button--purple">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
