#fixture-create {
  .fixture-teams {
    display: flex;
    align-items: center;

    p {
      margin: 0 10px;
    }

    button {
      &:hover, &:active, &:focus,
      &::selection, &:target {
        background: #f64846;
        border-color: #f63c3a;
      }
    }
  }
}
