.sidebar {
  width: 100%;

  .menu-toggle {
    > i {
      padding: 15px;
    }

    @media(min-width: 992px) {
      display: none;
    }
  }

  .sidebar-nav {
    background: rgb(41, 54, 61);
    position: absolute;
    left: -100%;
    top: 44px;
    width: 100%;
    z-index: 110;
    transition: 0.3s ease all;

    .nav {
      width: 100%
    }

    @media(min-width: 992px) {
      position: relative;
      top: 0;
    }
  }

  @media(min-width: 992px) {
    height: 100vh;
  }
}
