.dashboard-menu-sidebar {
  .logo-container {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    height: 42px;
    width: 100%;

    > p {
      color: white;
      margin-bottom: 0;
    }

    .menuToggle {
      position: absolute;
      left: 10px;

      i, svg, {
        color: white;
        padding: 5px;
      }

      @media(min-width: 400px) {
        display: none;
      }
    }

    @media(min-width: 400px) and (max-width: 968px) {
      display: none;
    }
  }

  ul {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
}
