<div id="website-register-form">
  <div id="loginbox">
    <form id="loginform" class="form-vertical" #f="ngForm" (submit)="onRegister(f.value)">
      <div class="control-group normal_text"> <h3>Register</h3></div>
      <div class="control-group {{formValues.firstName.hasError ? 'error' : ''}}">
        <div class="controls">
          <div class="main_input_box">
            <span class="add-on bg_lb">
              <i class="fa fa-user"></i>
            </span>
            <input type="text" name="firstName" (keyup)="clearFormError('firstName')" ngModel placeholder="First name">
            <span *ngIf="formValues.firstName.hasError" class="help-inline">{{formValues.firstName.message}}</span>
          </div>
        </div>
      </div>
      <div class="control-group {{formValues.lastName.hasError ? 'error' : ''}}">
        <div class="controls">
          <div class="main_input_box">
            <span class="add-on bg_lb">
              <i class="fa fa-user"></i>
            </span>
            <input type="text" name="lastName" (keyup)="clearFormError('lastName')" ngModel placeholder="Last name">
            <span *ngIf="formValues.lastName.hasError" class="help-inline">{{formValues.lastName.message}}</span>
          </div>
        </div>
      </div>
      <div class="control-group {{formValues.email.hasError ? 'error' : ''}}">
        <div class="controls">
          <div class="main_input_box">
            <span class="add-on bg_lg">
              <i class="fa fa-envelope"></i>
            </span>
            <input type="email" name="email" (keyup)="clearFormError('email')" ngModel placeholder="Email address">
            <span *ngIf="formValues.email.hasError" class="help-inline">{{formValues.email.message}}</span>
          </div>
        </div>
      </div>
      <div class="control-group {{formValues.password.hasError ? 'error' : ''}}">
        <div class="controls">
          <div class="main_input_box">
            <span class="add-on bg_lr">
              <i class="fa fa-lock"></i>
            </span>
            <input type="password" name="password" (keyup)="clearFormError('password')" ngModel placeholder="Password">
            <span *ngIf="formValues.password.hasError" class="help-inline">{{formValues.password.message}}</span>
          </div>
        </div>
      </div>
      <div class="control-group {{formValues.confirmPassword.hasError ? 'error' : ''}}">
        <div class="controls">
          <div class="main_input_box">
            <span class="add-on bg_lr">
              <i class="fa fa-lock"></i>
            </span>
            <input type="password" name="confirmPassword" (keyup)="clearFormError('confirmPassword')" ngModel placeholder="Confirm password">
            <span *ngIf="formValues.confirmPassword.hasError" class="help-inline">{{formValues.confirmPassword.message}}</span>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <span class="pull-left"><a class="flip-link btn btn-info" id="to-recover">Already registered?</a></span>
        <span class="pull-right"><button class="btn btn-success">Register</button></span>
      </div>
    </form>
  </div>
</div>
