<div id="styles-navbar">
  <div class="navbar-container">
    <div id="logo-container">
      <h2 routerLink="/">Web UI Kit</h2>
    </div>
    <ul *ngIf="menuItems" class="primary-menu" (window:resize)="menuResizeToggle()" [ngStyle]="primaryMenuStyle()">
      <li class="navbar-item" *ngFor="let menuItem of menuItems; let i = index" [ngStyle]="submenuActiveStyle(i)">
        <div class="navbar-item-content" routerLink="{{menuItem.link}}" (click)="toggleSubmenuActive(i)">
          <i class="{{menuItem.iconClass}}"></i>
          <span>{{menuItem.name}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
