<li routerLinkActive="active"  (click)="onMenuItemClick(menuItem)" class="nav-item">
  <a class="nav-link" routerLink="{{menuItem.link ? menuItem.link : undefined}}" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <i class="fa {{menuItem.iconClass}}"></i>
    <span>{{menuItem.name}}</span>
  </a>
  <ul class="nav-dropdown-items">
    <app-dashboard-menu-item *ngFor="let menuItem of this.menuItems" (onClick)="onMenuItemClick($event)" [menuItem]="menuItem"></app-dashboard-menu-item>
  </ul>
</li>
