#website-view-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  #website-navbar-wrapper {

    @media(min-width: $screen-md) {
      width: 120px;
    }
  }

  #website-outlet-wrapper {
    @media(min-width: $screen-md) {
      width: calc(100vw - 120px);
    }
  }

  @media(min-width: $screen-md) {
    flex-direction: row;
  }
}
